In [50]:
import pandas as pd

In [51]:
product = pd.read_csv("product.csv", dtype={'id': 'int', 'name': 'str', 'brand': 'str'})
sales = pd.read_csv("sales.csv", dtype={'product': 'int', 'store': 'int', 'quantity': 'int'}, parse_dates=['date'])
store = pd.read_csv("store.csv", dtype={'id': 'int', 'name': 'str', 'city': 'str'})

In [52]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      50 non-null     datetime64[ns]
 1   product   50 non-null     int64
 2   store     50 non-null     int64
 3   quantity  50 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 1.7 KB

In [53]:
sales.head()

        date  product  store  quantity
0 2020-06-07      114      5         2
1 2020-05-25      106      7         8
2 2020-02-05      108      3         7
3 2020-03-10      111      2         9
4 2020-03-06      109      3         2

In [54]:
store_sales = pd.merge(store, sales, left_on=['id'], right_on=['store'])

In [55]:
store_sales.head()

   id name       city       date  product  store  quantity
0   1  s-1     gotham 2020-05-15      112      1         6
1   1  s-1     gotham 2020-05-31      113      1         4
2   1  s-1     gotham 2020-06-06      112      1         3
3   1  s-1     gotham 2020-06-18      110      1         2
4   2  s-2  coruscant 2020-03-10      111      2         9

In [48]:
mask = (store_sales['date'] >= '2020-02-01') & (store_sales['date'] <= '2020-06-30')
store_sales = storesales.loc[mask].reset_index()

In [49]:
su = 0
for i in range(len(store_sales)):
    if store_sales.loc[i]['city'] == 'gotham':
        su += store_sales.loc[i]['quantity']

KeyError: 'city'

In [41]:
su

123

In [4]:
import heapq

In [17]:
mask = (sales['date'] > '2020-02-01') & (sales['date'] <= '2020-06-30')
sales = sales.loc[mask].reset_index()

In [5]:
product_sales = pd.merge(product, sales, left_on=['id'], right_on=['product'])
store_sales = pd.merge(store, sales, left_on=['id'], right_on=['store'])

In [25]:
def return_result_to_string(df, row_name, top):
    df = df.groupby([row_name])[['quantity']].agg('sum').reset_index()
    return df[df.quantity.isin(heapq.nlargest(top, df.quantity))].sort_values(by=['quantity'], 
                                                                              ascending=False)[[row_name, 'quantity']].to_string(index=False)
def get_top_seller_product(product_sales, top):
    print("-- top seller product --")
    print(return_result_to_string(df=product_sales, row_name='name', top=top))
    
def get_top_seller_store(store_sales, top):
    print("-- top seller store --")
    print(return_result_to_string(df=store_sales, row_name='name', top=top))

def get_top_seller_brand(product_sales, top):
    print("-- top seller brand --")
    print(return_result_to_string(df=product_sales, row_name='brand', top=top))

def get_top_seller_city(store_sales, top):
    print("-- top seller city --")
    print(return_result_to_string(df=store_sales, row_name='city', top=top))

In [26]:
get_top_seller_product(product_sales, 2)
get_top_seller_store(store_sales, 2)
get_top_seller_brand(product_sales, 2)
get_top_seller_city(store_sales, 2)

-- top seller product --
  name  quantity
 p-103        33
 p-102        24
 p-110        24
-- top seller store --
name  quantity
 s-3        42
 s-2        36
 s-7        36
-- top seller brand --
    brand  quantity
 yoyodyne        92
     acme        65
-- top seller city --
      city  quantity
    gotham       100
 coruscant        78